# Clean Test Data Test

This notebook is to test the `clean_brisT1D_test_data` function.

In [1]:
from src.data.data_loader import load_data
from src.data.data_cleaner import clean_brist1d_test_data

In [2]:
test_df = load_data(dataset_type="test")

In [3]:
test_df.head()

,id,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,...,activity-0:45,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00
0,p01_8459,p01,06:45:00,NaN,9.2,NaN,NaN,10.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,p01_8460,p01,11:25:00,NaN,NaN,9.9,NaN,NaN,9.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Walk,Walk,Walk
2,p01_8461,p01,14:45:00,NaN,5.5,NaN,NaN,5.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,p01_8462,p01,04:30:00,NaN,3.4,NaN,NaN,3.9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,p01_8463,p01,04:20:00,NaN,NaN,8.3,NaN,NaN,10.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
patient_dfs = clean_brist1d_test_data(test_df)

Patient ID:  p01
Patient ID:  p02
Patient ID:  p04
Patient ID:  p05
Patient ID:  p06
Patient ID:  p10
Patient ID:  p11
Patient ID:  p12
Patient ID:  p15
Patient ID:  p16
Patient ID:  p18
Patient ID:  p19
Patient ID:  p21
Patient ID:  p22
Patient ID:  p24

In [15]:
for k, v in patient_dfs["p01"].items():
    print(k)
    print(v.head(15))
    break

p01_8459
        time  bg-value  insulin-value  carbs-value  hr-value  steps-value  \
0   00:50:00       NaN         0.0083          NaN      59.7          0.0
1   00:55:00       9.2         0.0083          NaN      55.6          NaN
2   01:00:00       NaN         0.0083          NaN      58.2          0.0
3   01:05:00       NaN         0.0083          NaN      59.3          0.0
4   01:10:00      10.2         0.0083          NaN      58.0          0.0
5   01:15:00       NaN         0.0083          NaN      62.7          0.0
6   01:20:00       NaN         0.0083          NaN      59.7          NaN
7   01:25:00      10.3         0.0083          NaN      55.7          0.0
8   01:30:00       NaN         0.0083          NaN      55.8          NaN
9   01:35:00       NaN         0.0083          NaN      57.2          NaN
10  01:40:00      10.2         0.0083          NaN      61.1          NaN
11  01:45:00       NaN         0.0083          NaN      57.9          NaN
12  01:50:00       NaN         0.0083          NaN      58.2          NaN
13  01:55:00      11.7         0.0083          NaN      58.5          NaN
14  02:00:00       NaN         0.0083          NaN      58.1          NaN

    cals-value  activity-value
0         5.30             NaN
1         5.30             NaN
2         5.00             NaN
3         5.20             NaN
4         6.25             NaN
5         5.00             NaN
6         4.80             NaN
7         4.90             NaN
8         4.80             NaN
9         4.80             NaN
10        4.80             NaN
11        4.80             NaN
12        4.90             NaN
13        4.80             NaN
14        4.90             NaN