In [11]:
# import polars as pl
# my_file = "../data_downloads/aleppo_processed.csv"

# df = pl.read_csv(my_file)
# Load each data table
import pandas as pd
import os

dataset_path = os.path.abspath("../data_downloads/aleppo/Data Tables")
cgm_df = pd.read_csv(os.path.join(dataset_path, "HDeviceCGM.txt"), sep="|")
bgm_df = pd.read_csv(os.path.join(dataset_path, "HDeviceBGM.txt"), sep="|")
# a1c_df = pd.read_csv(os.path.join(dataset_path, 'HA1c.txt'), sep='|')
insulin_df = pd.read_csv(os.path.join(dataset_path, "HInsulin.txt"), sep="|")
medications_df = pd.read_csv(os.path.join(dataset_path, "HMedication.txt"), sep="|")
# patient_df = pd.read_csv(os.path.join(dataset_path, 'HPatient.txt'), sep='|')

In [12]:
print(cgm_df.columns)
print(bgm_df.columns)
# print(a1c_df.columns)
print(insulin_df.columns)
print(medications_df.columns)
# print(patient_df.columns)

Index(['RecID', 'ParentHDeviceUploadsID', 'PtID', 'SiteID',
       'DeviceDtTmDaysFromEnroll', 'DeviceTm', 'DexInternalDtTmDaysFromEnroll',
       'DexInternalTm', 'RecordType', 'GlucoseValue'],
      dtype='object')
Index(['RecID', 'ParentHDeviceUploadsID', 'PtID', 'SiteID',
       'DeviceDtTmDaysFromEnroll', 'DeviceTm', 'RecordType', 'RecordSubType',
       'GlucoseValue'],
      dtype='object')
Index(['RecID', 'PtID', 'SiteID', 'InsName', 'InsRoute', 'InsInjectionFreq',
       'InsTypeStart', 'InsTypeStartDtDaysFromEnroll', 'InsTypeStartUnknown',
       'InsTypeStopDtDaysFromEnroll', 'InsTypeStopUnknown',
       'InsTypeStartEstimate', 'InsTypeStopEstimate'],
      dtype='object')
Index(['RecID', 'PtID', 'SiteID', 'DrugName', 'MedDose', 'MedUnit',
       'MedDoseUnk', 'MedRoute', 'MedLocSide', 'MedFreqType', 'MedFreqNum',
       'MedFreqPer', 'MedFreqUnk', 'MedInd', 'MedicalCondition1',
       'MedicalCondition2', 'AdverseEvent1', 'AdverseEvent2',
       'PreExistingCondition1', 'PreExistingCondition2', 'MedStartTrtCat',
       'MedStartDtDaysFromEnroll', 'MedStartDtApprox',
       'MedStopDtDaysFromEnroll', 'MedStopDtApprox', 'MedOngoing',
       'MedStartPreEnrRange', 'MedStartMonthsAfterEnroll',
       'MedStartYearsAfterEnroll', 'MedStopMonthsAfterEnroll',
       'MedStopYearsAfterEnroll', 'MedStopDtUnk', 'MedStartDtUnk',
       'MedCondNotReqd', 'PreExistCondNotReqd', 'AdvEventNotReqd'],
      dtype='object')

In [19]:
cgm_df.shape

(14950661, 10)

# Loading Aleppo (2017) Example

In [ ]:
import pandas as pd
from src.data.awesome_cgm.aleppo.aleppo import AleppoDataLoader
import pandas as pd

file_path = "../data_downloads/aleppo_processed.csv"
keep_columns = ["p_num", "date", "bgl"]
aleppo = AleppoDataLoader(file_path=file_path, keep_columns=keep_columns)

In [5]:
aleppo.train_data

                     p_num  bg-0:00 day_start_shift            datetime
date
2015-10-09 22:58:05      2     5.06      2015-10-09 2015-10-09 22:58:05
2015-10-09 22:53:05      2     5.00      2015-10-09 2015-10-09 22:53:05
2015-10-09 22:48:05      2     5.00      2015-10-09 2015-10-09 22:48:05
2015-10-09 22:43:05      2     4.89      2015-10-09 2015-10-09 22:43:05
2015-10-09 22:38:05      2     4.78      2015-10-09 2015-10-09 22:38:05
...                    ...      ...             ...                 ...
2015-09-04 08:47:46    293    11.67      2015-09-04 2015-09-04 08:47:46
2015-09-04 08:42:46    293    11.72      2015-09-04 2015-09-04 08:42:46
2015-09-04 08:37:46    293    11.67      2015-09-04 2015-09-04 08:37:46
2015-09-04 08:32:46    293    11.50      2015-09-04 2015-09-04 08:32:46
2015-09-04 08:27:46    293    11.44      2015-09-04 2015-09-04 08:27:46

[13735857 rows x 4 columns]

In [4]:
aleppo.validation_data

                     p_num  bg-0:00 day_start_shift            datetime
date
2015-12-30 08:06:25      2     4.72      2015-12-30 2015-12-30 08:06:25
2015-12-30 08:01:25      2     4.56      2015-12-30 2015-12-30 08:01:25
2015-12-30 07:56:25      2     4.50      2015-12-30 2015-12-30 07:56:25
2015-12-30 07:51:25      2     4.61      2015-12-30 2015-12-30 07:51:25
2015-12-30 07:46:25      2     4.72      2015-12-30 2015-12-30 07:46:25
...                    ...      ...             ...                 ...
2015-11-22 16:38:40    293     4.33      2015-11-22 2015-11-22 16:38:40
2015-11-22 16:33:40    293     4.22      2015-11-22 2015-11-22 16:33:40
2015-11-22 16:28:40    293     4.22      2015-11-22 2015-11-22 16:28:40
2015-11-22 16:23:40    293     4.28      2015-11-22 2015-11-22 16:23:40
2015-11-16 09:39:07    293    13.28      2015-11-16 2015-11-16 09:39:07

[1202240 rows x 4 columns]

# Loading Anderson (2016) Dataset Example

In [1]:
from src.data.awesome_cgm.anderson.anderson import AndersonDataLoader
import os

dataset = "../data_downloads/anderson"
ketones_file_path = os.path.join(dataset, "Data Tables", "Ketone.txt")
file_path = "../data_downloads/aleppo_processed.csv"
keep_columns = ["p_num", "date", "bgl"]
loader = AndersonDataLoader(
    ketones_file_path=ketones_file_path, file_path=file_path, keep_columns=keep_columns
)

In [28]:
loader.train_data

                     p_num  bg-0:00 day_start_shift            datetime
date
2015-10-09 22:58:05      2     5.06      2015-10-09 2015-10-09 22:58:05
2015-10-09 22:53:05      2     5.00      2015-10-09 2015-10-09 22:53:05
2015-10-09 22:48:05      2     5.00      2015-10-09 2015-10-09 22:48:05
2015-10-09 22:43:05      2     4.89      2015-10-09 2015-10-09 22:43:05
2015-10-09 22:38:05      2     4.78      2015-10-09 2015-10-09 22:38:05
...                    ...      ...             ...                 ...
2015-09-04 08:47:46    293    11.67      2015-09-04 2015-09-04 08:47:46
2015-09-04 08:42:46    293    11.72      2015-09-04 2015-09-04 08:42:46
2015-09-04 08:37:46    293    11.67      2015-09-04 2015-09-04 08:37:46
2015-09-04 08:32:46    293    11.50      2015-09-04 2015-09-04 08:32:46
2015-09-04 08:27:46    293    11.44      2015-09-04 2015-09-04 08:27:46

[13735857 rows x 4 columns]

In [29]:
loader.validation_data

                     p_num  bg-0:00 day_start_shift            datetime
date
2015-12-30 08:06:25      2     4.72      2015-12-30 2015-12-30 08:06:25
2015-12-30 08:01:25      2     4.56      2015-12-30 2015-12-30 08:01:25
2015-12-30 07:56:25      2     4.50      2015-12-30 2015-12-30 07:56:25
2015-12-30 07:51:25      2     4.61      2015-12-30 2015-12-30 07:51:25
2015-12-30 07:46:25      2     4.72      2015-12-30 2015-12-30 07:46:25
...                    ...      ...             ...                 ...
2015-11-22 16:38:40    293     4.33      2015-11-22 2015-11-22 16:38:40
2015-11-22 16:33:40    293     4.22      2015-11-22 2015-11-22 16:33:40
2015-11-22 16:28:40    293     4.22      2015-11-22 2015-11-22 16:28:40
2015-11-22 16:23:40    293     4.28      2015-11-22 2015-11-22 16:23:40
2015-11-16 09:39:07    293    13.28      2015-11-16 2015-11-16 09:39:07

[1202240 rows x 4 columns]